body {
  max-width: 1140px;
  margin: 0 auto;
  background-image: url(pngtree-adorable-cata.jpg);
}

form {
  max-width: 800px;
  padding: 10px 10px 0 10px;
  margin: 0 20px;
  background-color: #fff;
}

div {
  max-width: 800px;
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  margin: 0 20px;
}

@media (min-width: 470px) {
  form, div {
    margin: 0 40px;
  }

  div {
    padding-bottom: 20px;
  }
}

@media (min-width: 600px) {
  form, div {
    margin: 0 60px;
  }
}

@media (min-width: 850px) {
  form, div {
    margin: 0 80px;
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  form, div {
    margin: 0 auto;
  }
}